---
export type Props = {
  firstPage: number;
  currentPage: number;
  lastPage: number;
};

const { firstPage, currentPage, lastPage } = Astro.props;

const urlBase = "/works";
---

<nav aria-label="pagination">
  {
    currentPage !== 1 ? (
      <a class="first" href={`${urlBase}/${firstPage}`}>
        First
      </a>
    ) : null
  }
  {
    currentPage !== 1 ? (
      <a class="prev" href={`${urlBase}/${currentPage - 1}`}>
        Previous
      </a>
    ) : null
  }
  <span class="current">{currentPage} / {lastPage}</span>
  {
    currentPage !== lastPage ? (
      <a class="next" href={`${urlBase}/${currentPage + 1}`}>
        Next
      </a>
    ) : null
  }
  {
    currentPage !== lastPage ? (
      <a class="last" href={`${urlBase}/${lastPage}`}>
        Last
      </a>
    ) : null
  }
</nav>

<style>
  nav {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
    column-gap: var(--spacing-md);
  }

  .first {
    grid-column: 1;
  }

  .prev {
    grid-column: 2;
  }

  .next {
    grid-column: 4;
  }

  .last {
    grid-column: 5;
  }

  .first,
  .prev {
    text-align: left;
  }

  .current {
    grid-column: 3;
    text-align: center;
  }

  .next,
  .last {
    text-align: right;
  }
</style>
