---
import Pagination from "./Pagination.astro";
import * as fs from "node:fs";
import { canvasSize } from "../lib/canvas";
import { marked } from "marked";

export type Props = {
  id: number;
  year: number;
  description: string;
};

const { id, description, year } = Astro.props;

const lastWorkFilename = fs
  .readdirSync("./src/pages/works")
  .sort((a, b) => b.localeCompare(a))[0];

const lastWorkId = parseInt(lastWorkFilename.replace(".astro", ""), 10);
---

<div class="wall">
  <div class="picture">
    <div class="frame">
      <div class="passe-partout">
        <div
          id="p5-root"
          class="root"
          style={{ width: `${canvasSize}px`, aspectRatio: `1/1` }}
        >
        </div>
      </div>
    </div>
  </div>
  <div class="picture-label">
    <p class="author">Angelika Cathor</p>
    <div>
      <h1 class="title"><span class="name">Work nr {id}</span>, {year}</h1>
      <p class="medium">JavaScript (p5.js) code on HTML canvas</p>
    </div>
    <div class="description" set:html={marked.parse(description)} />
    <div class="actions"><button id="p5-redraw-button">Redraw</button></div>
  </div>
  <div class="pagination">
    <Pagination currentPage={id} firstPage={1} lastPage={lastWorkId} />
  </div>
</div>

<style>
  .wall {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    gap: var(--spacing-xl);
    padding: var(--spacing-xl);
    min-height: 100dvh;
  }

  .picture {
    grid-column: 2 / 3;
    box-shadow: var(--picture-shadow);
  }

  .frame {
    border: var(--frame-width) solid var(--frame-color);
    min-width: 0;
  }

  .passe-partout {
    border: var(--passe-partout-width) solid var(--passe-partout-color);
  }

  .frame,
  .passe-partout {
    max-width: 100%;
    aspect-ratio: 1/1;
    position: relative;
  }

  .root {
    max-width: 100%;
    aspect-ratio: 1/1;
    position: relative;

    & :global(canvas) {
      display: block;
      max-width: 100%;
      height: auto !important;
      aspect-ratio: 1/1;
    }
  }

  .picture-label {
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: repeat(4, auto);
    box-shadow: var(--label-shadow);
    padding: var(--spacing-lg);
    row-gap: var(--spacing-md);
    max-width: fit-content;

    .author {
      font-size: var(--font-size-h6);
      font-weight: bold;
      margin: 0;
    }

    .title {
      font-size: var(--font-size-h5);
      font-weight: normal;
      margin: 0;
    }

    .medium {
      margin: 0;
    }

    .name {
      font-weight: bold;
      font-style: italic;
    }

    .description {
      font-size: var(--font-size-small);
      margin: 0;
    }
  }

  .pagination {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
</style>
